{% extends 'scan/basefiles/base.html' %}
{% block nav_scan %}active{% endblock %}
{% block content %}
{% include 'scan/modals/add_network.html' %}
{% include 'scan/modals/remove_network.html' %}
{% include 'scan/modals/scan_network_warning.html' %}
    <div class="networks">
        <div class="row">
            <div class="col-xs-12">



                <h4>Networks</h4>
                {% if latest_scan.ready != "False" %}
                    <a href="#" data-toggle="modal" data-target="#add-network"><button class="btn btn-success btn-xs"><i class="fa fa-plus"></i> Add network</button></a>
                    <a href="#" id="scan-network-submit"><button type="submit" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="This might take a few minutes."><i class="fa fa-search"></i> Scan selected networks</button></a>
                    <div class="checkbox-inline" data-toggle="tooltip" data-placement="top" title="This will make the scan slower.">
                        <label>
                            <input id="discover-os" type="checkbox" name="discover-os" />
                            Discover host OS
                        </label>
                    </div>
                {% else %}
                    <button class="btn btn-success btn-xs disabled" data-toggle="tooltip" data-placement="top" title="A scan is already in progress."><i class="fa fa-plus"></i> Add network</button>
                    <button type="submit" class="btn btn-primary btn-xs disabled" data-toggle="tooltip" data-placement="top" title="A scan is already in progress."><i class="fa fa-search"></i> Scan selected networks</button>
                {% endif %}
                <form method="POST" action="{% url 'scan:scannetwork' %}" class="form form-inline" id="scan-network-form">
                    {% csrf_token %}
                    <input type="hidden" id="discover-os-hidden" name="discover-os-hidden" value="False" />
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <span class="col-xs-1">
                                    <th class="center-align"><input type="checkbox" class="checkbox" id="check-all-networks"></th>
                                </span>
                                <th class="col-xs-2">Network</th>
                                <th class="col-xs-4">Hosts</th>
                                <th class="col-xs-5">Added</th>
                                <th></th>
                        </thead>
                        <tbody>
                            {% if networks_list|length > 0 %}
                                {% for network in networks_list %}
                                    <tr>
                                        <td class="center-align">
                                            <input class="check-network" type="checkbox" value="{{ network.0.id }}" num-hosts="{{ network.1 }}" name="scan_network_id">
                                        </td>
                                        <td class="left-align">{{ network.0.network_address }}/{{ network.0.subnet_bits }}</td>
                                        <td class="left-align">{{ network.1 }}</td>
                                        <td class="left-align">{{ network.0.timestamp|date:"Y-m-d H:i:s" }}</td>
                                        <td class="left-align">
                                            {% if network.0.id not in latest_scan_networks %}
                                                <a href="#" class="remove-network-link" remove-network-id="{{ network.0.id }}" remove-network="{{ network.0.network_address }}/{{ network.0.subnet_bits }}"><i class="fa fa-times"></i></a>
                                            {% elif network.0.id in latest_scan_networks and latest_scan.ready == 'True' %}
                                                <a href="#" class="remove-network-link" remove-network-id="{{ network.0.id }}" remove-network="{{ network.0.network_address }}/{{ network.0.subnet_bits }}"><i class="fa fa-times"></i></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="5">
                                        <div class="text-center"><strong>No networks has been added.</strong></div>
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h4>Latest scans</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th class="col-xs-6">Networks</th>
                            <th class="col-xs-3">Start time</th>
                            <th class="col-xs-3">Complete</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if scans_list|length > 0 %}
                            {% for scan in scans_list %}
                                <tr>
                                    <td class="left-align">
                                        {% for network in scan.1 %}
                                            <span class="label label-default">{{ network.network_address }}/{{ network.subnet_bits }}</span>
                                        {% endfor %}
                                    </td>
                                    <td class="left-align">{{ scan.0.timestamp|date:"Y-m-d H:i:s"  }}</td>
                                    <td class="left-align">
                                        {% if scan.0.updated|date:"Y-m-d H:i:s" != scan.0.timestamp|date:"Y-m-d H:i:s"  %}
                                            {{ scan.0.updated|date:"Y-m-d H:i:s" }}
                                        {% endif %}
                                    </td>
                                    <td class="left-align">
                                        {% if scan.0.ready != "False" %}
                                            <span class="label label-success"><i class="fa fa-check"></i> Completed</span>
                                        {% else %}
                                            <span class="label label-primary"><i class="fa fa-spinner fa-spin"></i> In progress</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="4">
                                    <div class="text-center"><strong>No scans has been performed.</strong></div>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
