<div class="modal fade" id="manage-site" tabindex="-1" role="dialog" aria-labelledby="managesite-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="managesite-modal">Manage sites</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                    <p>Enter a name for the new site.</p>
                        <div class="alert alert-block alert-danger" id="add-site-error">Another site with the same name exists already.</div>
                        <div class="form-group form-group-sm" id="add-site-form-group">
                            <form method="POST" action="{% url 'scan:addsite' %}" class="form form-inline" id="add-site-form">
                                {% csrf_token %}
                                <input type="text" class="form-control" id="add-site-input" placeholder="Name" maxlength="20" required autofocus name="site_name">
                                <button type="submit" class="btn btn-success btn-xs" name="add_site"><i class="fa fa-plus"></i> Add site</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-manage table-striped table-striped-manage">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th class="right-align">Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for site in sites %}
                                    <tr>
                                        <td>
                                            <span class="site-name">
                                                {% if site.default == 'True' %}
                                                   <b>{{ site.name }}</b>
                                                {% else %}
                                                    {{ site.name }}
                                                {% endif %}
                                            </span>
                                            <span class="manage-site-name">
                                                <div class="input-group input-group-xs">
                                                    <form class="site-change-name-form" method="POST" action="{% url 'scan:sitechangename' %}">
                                                        {% csrf_token %}
                                                        <input type="hidden" value="{{ site.id }}" name="change-name-id"/>
                                                        <input type="text" class="form-control input-group-xs change-name-input" name="change-name-input" value="">
                                                    </form>
                                                </div>
                                            </span>
                                        </td>
                                        <td class="right-align">
                                            <span class="manage-site-actions">
                                                <a href="#" class="site-edit" site-id="{{ site.id }}" site-name="{{ site.name }}" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil fa-fw"></i></a>
                                                {% if site.default == 'True' %}
                                                    <i class="fa fa-globe fa-globe-color fa-fw"></i>
                                                {% endif %}
                                                {% if site.default == 'False' %}
                                                    {% if latest_scan.site != site %}
                                                        <a href="#" class="site-delete" site-id="{{ site.id }}" site-name="{{ site.name }}" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-times fa-times-inverted fa-fw"></i></a>
                                                    {% elif latest_scan.site == site and latest_scan.ready == 'True' %}
                                                        <a href="#" class="site-delete" site-id="{{ site.id }}" site-name="{{ site.name }}" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-times fa-times-inverted fa-fw"></i></a>
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                            <span class="manage-site-save">
                                                {% if site.default == 'False' %}
                                                    <a href="#" class="site-default" site-id="{{ site.id }}" data-toggle="tooltip" data-placement="top" title="Make default"><i class="fa fa-globe fa-globe-link fa-fw"></i></a>
                                                {% endif %}
                                                <a href="#" class="site-save" site-id="{{ site.id }}" data-toggle="tooltip" data-placement="top" title="Save name"><i class="fa fa-floppy-o fa-fw"></i></a>
                                                <a href="#" class="site-save-cancel" data-toggle="tooltip" data-placement="top" title="Cancel"><i class="fa fa-undo fa-fw"></i></a>
                                                {% if site.default == 'False' %}
                                                    <form class="site-default-form" method="POST" action="{% url 'scan:defaultsite' %}">
                                                        {% csrf_token %}
                                                        <input type='hidden' value='{{ site.id }}' name='site-default-id'/>
                                                    </form>
                                                {% endif %}
                                            </span>
                                            <span class="manage-site-delete">
                                                <a href="#" class="site-delete-delete" data-toggle="tooltip" data-placement="top" title="This will delete everything related to this site"><i class="fa fa-times fa-times-inverted fa-fw"></i></a>
                                                <a href="#" class="site-delete-cancel" data-toggle="tooltip" data-placement="top" title="Cancel"><i class="fa fa-undo fa-fw"></i></a>
                                                <form class="site-delete-form" method="POST" action="{% url 'scan:deletesite' %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" value="{{ site.id }}" name="site-delete-id" />
                                                </form>
                                            </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <small><i class="fa fa-globe fa-globe-color fa-fw"></i> Indicates default site, default sites and sites with scans in progress cannot be removed.</small>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
